// SASS Mixins Library.
// By @dered170
//  -----------------------------------------------------------
//  Centrado absoluto de algun elemento (container position:relative necerio)
//  -----------------------------------------------------------
@mixin absolute-center() {
  bottom   : 0;
  left     : 0;
  margin   : auto;
  position : absolute;
  right    : 0;
  top      : 0;
}

//  -----------------------------------------------------------
//  Centrado absoluto de algun elemento bottom (container position:relative necerio)
//  -----------------------------------------------------------
@mixin absolute-center-bottom() {
  bottom    : 0;
  left      : 0;
  margin    : auto;
  position  : absolute;
  right     : 0;
}

//  -----------------------------------------------------------
//  Centrado absoluto de algun elemento top (container position:relative necerio)
//  -----------------------------------------------------------
@mixin absolute-center-top() {
  left      : 0;
  margin    : auto;
  position  : absolute;
  right     : 0;
  top       : 0;
}

//  -----------------------------------------------------------
//  activar ::selection en un elemento en particular
//  -----------------------------------------------------------
@mixin activate-Selection-p(){
  -khtml-user-select    : text;
  -moz-user-select      : text;
  -o-user-select        : text;
  -webkit-touch-callout : text;
  -webkit-user-select   : text;
  user-select           : text;
}

//  -----------------------------------------------------------
//  Mixin Para ANIMATION
//  -----------------------------------------------------------
  //  p,e:
  //                      nombre        , seg,  tiempo de animacion, delay,iteration, direction
  //  -webkit-animation : animationName 5s      linear                2s    infinite  alternate; /* Chrome, Safari, Opera */
  //  -moz-animation    : animationName 5s      linear                2s    infinite  alternate; /* Chrome, Safari, Opera */
  //  animation         : animationName 5s      linear                2s    infinite  alternate; /* Standard syntax */
  //
@mixin animation($str) {
  -moz-animation    : $str;
  -ms-animation     : $str;
  -o-animation      : $str;
  -webkit-animation : $str;
  animation         : $str;
}

//  -----------------------------------------------------------
//  Mixin para background-clip
//  -----------------------------------------------------------
  //  p,e: background-clip: border-box|padding-box|content-box|initial|inherit;
@mixin background-clip($clip) {
  -webkit-background-clip : $clip;
  -moz-background-clip    : $clip;
  background-clip         : $clip;
}

//  -----------------------------------------------------------
//  BACKGROUND GRADIENT
//  -----------------------------------------------------------
    //  p,e:
    //  @include background-gradient(white,black);
@mixin background-gradient($startColor: #FFFFFF, $endColor: #000000) {
  background-color: $startColor;
  background-image: -webkit-gradient(linear, left top, left bottom, from($startColor), to($endColor));
  background-image: -webkit-linear-gradient(top, $startColor, $endColor);
  background-image:    -moz-linear-gradient(top, $startColor, $endColor);
  background-image:     -ms-linear-gradient(top, $startColor, $endColor);
  background-image:      -o-linear-gradient(top, $startColor, $endColor);
  background-image:         linear-gradient(top, $startColor, $endColor);
  filter          : progid:DXImageTransform.Microsoft.gradient(startColorStr='#{$startColor}', endColorStr='#{$endColor}');//gradient type = 0 para vertical IE
}

//  -----------------------------------------------------------
// BACKGROUND HORIZONTAL */
//  -----------------------------------------------------------
  // p,e:
  //@include background-horizontal(white,black);
@mixin background-horizontal($startColor: #FFFFFF, $endColor: #000000) {
  background-color: $startColor;
  background-image: -webkit-gradient(linear, left top, right top, from($startColor), to($endColor));
  background-image: -webkit-linear-gradient(left, $startColor, $endColor);
  background-image:    -moz-linear-gradient(left, $startColor, $endColor);
  background-image:     -ms-linear-gradient(left, $startColor, $endColor);
  background-image:      -o-linear-gradient(left, $startColor, $endColor);
  background-image:         linear-gradient(left, $startColor, $endColor);
  filter          : progid:DXImageTransform.Microsoft.gradient(startColorStr='#{$startColor}', endColorStr='#{$endColor}', gradientType='1');//gradient type = 1 para horizontal IE
}
//  -----------------------------------------------------------
/* BACKGROUND RADIAL */
//  -----------------------------------------------------------
  // p,e:
  //@include background-radial(white,black);
@mixin background-radial($startColor: #FFFFFF, $startPos: 0%, $endColor: #000000, $endPos:100%) {
    background: -moz-radial-gradient(center, ellipse cover, $startColor $startPos, $endColor $endPos);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop($startPos,$startColor), color-stop($endPos,$endColor));
    background: -webkit-radial-gradient(center, ellipse cover, $startColor $startPos,$endColor $endPos);
    background: -o-radial-gradient(center, ellipse cover, $startColor $startPos,$endColor $endPos);
    background: -ms-radial-gradient(center, ellipse cover, $startColor $startPos,$endColor $endPos);
    background: radial-gradient(ellipse at center, $startColor $startPos,$endColor $endPos);
}

//  -----------------------------------------------------------
//  Mixin para background-size
//  -----------------------------------------------------------
  //  p,e: background-size: auto|length|cover|contain|initial|inherit;
@mixin background-size($size){
  -webkit-background-size : $size;
  -moz-background-size    : $size;
  -o-background-size      : $size;
  background-size         : $size;
}

//****************************************
//        border radius por orientacion
//  top ,right, bottom, left
//****************************************/

//  -----------------------------------------------------------
//  Mixin para Border radius bottom->(left/right)
//  top left      ============= top right
//                |contenido..|
//  bottom left   o===========o bottom right
//  -----------------------------------------------------------
    //  p,e:
    //  @include border-bottom-radius(10px);
    //  resultado:
    //  -moz-border-bottom-left-radius:       10px;
    //  -moz-border-bottom-right-radius:      10px;
    //  -webkit-border-bottom-left-radius:    10px;
    //  -webkit-border-bottom-right-radius:   10px;
    //  border-bottom-left-radius:            10px;
    //  border-bottom-right-radius:           10px;
@mixin border-bottom-radius($radius) {
  -moz-border-bottom-left-radius:     $radius;
  -moz-border-bottom-right-radius:    $radius;
  -webkit-border-bottom-left-radius:  $radius;
  -webkit-border-bottom-right-radius: $radius;
  border-bottom-left-radius:          $radius;
  border-bottom-right-radius:         $radius;
}

//  -----------------------------------------------------------
//  Mixin para Border radius left->(top/bottom)
//  top right     o============ top left
//                |contenido..|
//  top right     o============ top left
//  -----------------------------------------------------------
  //  p,e:
  //  @include border-left-radius(10px);
  //  resultado:
  //  -moz-border-bottom-left-radius:    10px;
  //  -moz-border-top-left-radius:       10px;
  //  -webkit-border-bottom-left-radius: 10px;
  //  -webkit-border-top-left-radius:    10px;
  //  border-bottom-left-radius:         10px;
  //  border-top-left-radius:            10px;
@mixin border-left-radius($radius) {
  -moz-border-bottom-left-radius    :   $radius;
  -moz-border-top-left-radius       :   $radius;
  -webkit-border-bottom-left-radius :   $radius;
  -webkit-border-top-left-radius    :   $radius;
  border-bottom-left-radius         :   $radius;
  border-top-left-radius            :   $radius;
}

//  -----------------------------------------------------------
//  Mixin para border radius iguales
//  -----------------------------------------------------------
    //  p.e
    // @include box-border-radius(3px);
    // resultado
    // -webkit-border-radius: 3px;
    // -moz-border-radius   : 3px;
    // border-radius        : 3px;
@mixin border-radius($radius) {
  -webkit-border-radius : $radius;
  -moz-border-radius    : $radius;
  border-radius         : $radius;
}

//  -----------------------------------------------------------
//  mixin para border radius definidos
//  -----------------------------------------------------------
    //p.e
    // @include box-border-radius-d(3px,1px, 1px, 0px);
    // resultado
    // -webkit-border-radius: 3px 1px 1px 0px;
    //    -moz-border-radius: 3px 1px 1px 0px;
    //     -ms-border-radius: 3px 1px 1px 0px;
    //      -o-border-radius: 3px 1px 1px 0px;
    //         border-radius: 3px 1px 1px 0px;
@mixin border-radius-separate($a: 5px, $b: 5px, $c: 5px, $d: 5px) {
  -webkit-border-radius : $a $b $c $d;
  -moz-border-radius    : $a $b $c $d;
  border-radius         : $a $b $c $d;
}

//  -----------------------------------------------------------
//  Mixin para Border radius right->(top/bottom)
//  top left      ============o top right
//                |contenido..|
//  bottom left   ============o bottom right
//  -----------------------------------------------------------
    //  p,e:
    //  @include border-right-radius(10px);
    //  resultado:
    //  -moz-border-bottom-right-radius:    10px;
    //  -moz-border-top-right-radius:       10px;
    //  -webkit-border-bottom-right-radius: 10px;
    //  -webkit-border-top-right-radius:    10px;
    //  border-bottom-right-radius:         10px;
    //  border-top-right-radius:            10px;
@mixin border-right-radius($radius) {
  -moz-border-bottom-right-radius   : $radius;
  -moz-border-top-right-radius      : $radius;
  -webkit-border-bottom-right-radius: $radius;
  -webkit-border-top-right-radius   : $radius;
  border-bottom-right-radius        : $radius;
  border-top-right-radius           : $radius;
}

//  -----------------------------------------------------------
//  Mixin para Border radius top->(left/right)
//  top left      o===========o top right
//                |contenido..|
//  bottom left   |___________| bottom right
//  -----------------------------------------------------------
    //  p,e:
    //  @include border-top-radius(10px);
    //  resultado:
    //  -moz-border-top-left-radius: 10px;
    //  -moz-border-top-right-radius: 10px;
    //  -webkit-border-top-left-radius: 10px;
    //  -webkit-border-top-right-radius: 10px;
    //  border-top-left-radius: 10px;
    //  border-top-right-radius: 10px;
@mixin border-top-radius($radius) {
  -webkit-border-top-right-radius :  $radius;
  -moz-border-top-right-radius    :  $radius;
  border-top-right-radius         :  $radius;
  -webkit-border-top-left-radius  :  $radius;
  -moz-border-top-left-radius     :  $radius;
  border-top-left-radius          :  $radius;
}

//  -----------------------------------------------------------
//  Mixin para sombra de caja
//  -----------------------------------------------------------
    //  p.e:
    //  @include box-shadow(3px 3px 5px 6px #ccc); 
    //  resultado
    //  -webkit-box-shadow: 3px 3px 5px 6px #ccc;  
    //  -moz-box-shadow:    3px 3px 5px 6px #ccc;  
    //  box-shadow:         3px 3px 5px 6px #ccc;  
@mixin box-shadow($x,$y,$dif,$ent,$c){
  -webkit-box-shadow:   $x $y $dif $ent $c;/* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow   :   $x $y $dif $ent $c;/* Firefox 3.5 - 3.6 */
  box-shadow        :   $x $y $dif $ent $c;/* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */          
}

//  -----------------------------------------------------------
//  Mixin para sombra de caja adentro
//  -----------------------------------------------------------
  //  p.e:
  //  @include box-shadow-i(3px 3px 5px 6px #ccc); 
  //  resultado
  //  -webkit-box-shadow: inset 3px 3px 5px 6px #ccc;  
  //  -moz-box-shadow:    inset 3px 3px 5px 6px #ccc;  
  //  box-shadow:         inset 3px 3px 5px 6px #ccc;  
@mixin box-shadow-inset($x,$y,$dif,$ent,$c){
  -webkit-box-shadow:   inset $x $y $dif $ent $c;/* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow   :   inset $x $y $dif $ent $c;/* Firefox 3.5 - 3.6 */
  box-shadow        :   inset $x $y $dif $ent $c;/* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */          
}

//  -----------------------------------------------------------
//  Mixin box-sizing (modelo de caja)
//  -----------------------------------------------------------
  //  p.e
  //  @include box-sizing(border-box|padding-box|content-box);
  //  resultado
  //  -webkit-box-sizing: border-box;
  //  -moz-box-sizing: border-box;
  //  box-sizing: border-box;
@mixin box-sizing($sizing: border-box) {
  -webkit-box-sizing  : $sizing;/* Safari 3-4*/
  -moz-box-sizing     : $sizing;/* Firefox 1 */
  box-sizing          : $sizing;/* Everything else */
}

//  -----------------------------------------------------------
// box-shadow material design
// levels 1,2,3,4,5
// Author: Florian Kutschera (@gefangenimnetz), Conceptboard GmbH (@conceptboardapp)
//  -----------------------------------------------------------
  // p,e:
  // .card {
  //     width: 95px;
  //     height: 95px;
  //     background: #f4f4f4;
  //     -webkit-transition: all 250ms;
  //     -moz-transition: all 250ms;
  //     transition: all 250ms;
  //    .BoxShadowHelper(1);
  //     &:hover {
  //         .BoxShadowHelper(3);
  //         -webkit-transform: translateY(-5px);
  //         -moz-transform: translateY(-5px);
  //         transform: translateY(-5px);
  //     }
  // }
  //resultado:
  //.card {
  //    width: 95px;
  //    height: 95px;
  //    background: #f4f4f4;
  //    -webkit-transition: all 250ms;
  //    -moz-transition: all 250ms;
  //    transition: all 250ms;
  //    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  //}
  //.card:hover {
  //    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  //    -webkit-transform: translateY(-5px);
  //    -moz-transform: translateY(-5px);
  //    transform: translateY(-5px);
  // }
  //
@mixin BoxShadowMaterial($level: 1){
    @if $level == 1 {
        -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }
    @else if $level == 2 {
        -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }
    @else if $level == 3 {
        -moz-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }
    @else if $level == 4 {
        -moz-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        -webkit-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
    @else if $level == 5 {
      -moz-box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
      -webkit-box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
      box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    }
}

//  -----------------------------------------------------------
//  clearfix para contenedores de elementos flotantes (boilerplate y bootstrap lo implementan)
//  ******* container *******    ********** container ***********
//  * =texto  =========== = *    *  texto    ================== *
//  *************************    *           =     img        = *
//            =   img     =      *           =                = *
//            = ===========      *           ================== *
//                               ********************************
//  -----------------------------------------------------------
    //  p,e:
    //    container{
    //      @include clearfix();
    //    }
    //  resultado:
    //    .container:after,container:before{
    //      content: " "; /* 1 */
    //      display: table; /* 2 */
    //    }
    //    .container:after{
    //       clear: both;
    //    }
@mixin clearfix{
  &:after,&:before{
    content: " "; /* 1 */
    display: table; /* 2 */
  }
  &:after{
    clear: both;
  }
}
//  no recomendado , pero funciona
@mixin clearfix2{
  overflow: auto;
}

//  -----------------------------------------------------------
//  Mixin Para Columnas 
//  -----------------------------------------------------------
@mixin columns($numero: 3, $separacion: 10px) {
  -moz-column-count   : $numero;
  -moz-column-gap     : $separacion;
  -webkit-column-count: $numero;
  -webkit-column-gap  : $separacion;
  column-count        : $numero;
  column-gap          : $separacion;
}

//  -----------------------------------------------------------
//  Mixin Para elementos vacíos
//  -----------------------------------------------------------
//  p,e:
//  <p>Lorem ipsum </p> Con contenido
//  <p></p>// empty/vacío
@mixin empty{
  :empty{
    outline:5px solid yellow;
  }
}

//  -----------------------------------------------------------
// mixin para font face,verificar en el archivo fuente.svg que el nombre(#id) sea el mismo
//  -----------------------------------------------------------
// @include font-face('Roboto', '/fonts/Roboto');
@mixin font-face($font-name, $file-name, $weight: normal, $style: normal) {
  @font-face {
    font-family : quote($font-name);
    src         : url($file-name + '.eot');
    src         : url($file-name + '.eot?#iefix')          format('embedded-opentype'),
                  url($file-name + '.woff')                format('woff'),
                  url($file-name + '.ttf')                 format('truetype'),
                  url($file-name + '.svg##{$font-name}')   format('svg');
    font-weight : $weight;
    font-style  : $style;
  }
}

//  -----------------------------------------------------------
//  Mixin Para imagenes blanco y negro
//  -----------------------------------------------------------
@mixin grayscale{
  -webkit-filter: grayscale(1);
  -webkit-filter: grayscale(100%);
  -moz-filter   : grayscale(100%);
  -ms-filter    : grayscale(100%);
  -o-filter     : grayscale(100%);
  filter        : gray; /* IE6-9 */
  filter        : grayscale(100%);
  filter        : url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+ */
  -webkit-backface-visibility: hidden; /* Fix for transition flickering */
}
//  -----------------------------------------------------------
//  Mixin Para quitar el efecto blanco y negro a imagenes
//  -----------------------------------------------------------
@mixin quit-grayscale{
  -webkit-filter  : grayscale(0);
  -webkit-filter  : grayscale(0%);
  -moz-filter     : grayscale(0%);
  -ms-filter      : grayscale(0%);
  -o-filter       : grayscale(0%);
  filter          : none; /* IE6-9 */
  filter          : grayscale(0%);
  filter          : url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0'/></filter></svg>#grayscale");
  -webkit-backface-visibility: visible; /* Fix for transition flickering */
}

//  -----------------------------------------------------------
//  Mixin Para KEYFRAMES
//  -----------------------------------------------------------
@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }  
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }  
  @keyframes #{$animation-name} {
    @content;
  }
}
//  -----------------------------------------------------------
//  Uso de keyframes mixin
//  -----------------------------------------------------------
//  @include keyframes(bgcolor) {
//    0% {
//      background-color: #ffccf2;
//    }
//    50% {
//      background-color: #ccffcc;
//    }
//    100% {
//      background-color: #ccffff;
//    } 
//  }

//  -----------------------------------------------------------
//desactivar ::selection en general (todo el DOM)
//  -----------------------------------------------------------
@mixin noSelection-g(){
  -khtml-user-select    : none;
  -moz-user-select      : none;
  -ms-user-select       : none;
  -webkit-touch-callout : none;
  -webkit-user-select   : none;
  user-select           : none;
}

//desactivar ::selection en particular (a un elemento)
@mixin noSelection-p(){
  -khtml-user-select    : none;
  -moz-user-select      : none;
  -ms-user-select       : none;
  -webkit-touch-callout : none;
  -webkit-user-select   : none;
  user-select           : none;
}

//  -----------------------------------------------------------
//  Mixin para opacidad
//  -----------------------------------------------------------
@mixin opacity($opacity) {
  // This works in IE 8 & 9  
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$opacity * 100})";
  filter    : alpha(opacity=#{$opacity * 100}); // IE 5-7
  opacity   : $opacity; // Modern Browsers 
}

//  -----------------------------------------------------------
//  Mixin para prefijos para todo
//  -----------------------------------------------------------
  //  p,e:
  //  @include prefix(background-size,cover);
@mixin prefix($property, $value...){
  -webkit-#{$property}  :  $value;
  -moz-#{$property}     :  $value;
  -ms-#{$property}      :  $value;
  -o-#{$property}       :  $value;
  #{$property}          :  $value;
}


//  -----------------------------------------------------------
//  Mixin para resize
//  -----------------------------------------------------------
// resize: none|both|horizontal|vertical|initial|inherit;
@mixin resize($direction: both) {
  resize    : $direction;
  overflow  : auto;
}

//****************************************************************************************************//
//*       Mixins para funciones CSS transform normales y 3D          
//*   rotate, scale, skew, translate, translate 3D
//****************************************************************************************************//

//  -----------------------------------------------------------
//  rotate
//  -----------------------------------------------------------
@mixin rotate($deg) {
  -webkit-transform : rotate($deg);
  -moz-transform    : rotate($deg);
  -ms-transform     : rotate($deg);
  -o-transform      : rotate($deg);
  transform         : rotate($deg);
}

//  -----------------------------------------------------------
//  scale
//  -----------------------------------------------------------
@mixin scale($x,$y) {
  -webkit-transform : scale($x,$y);
  -moz-transform    : scale($x,$y);
  -ms-transform     : scale($x,$y);
  -o-transform      : scale($x,$y);
  transform         : scale($x,$y);
}

//  -----------------------------------------------------------
//  Seleccion de texto en general(todo el DOM)
//  Support ie9+, No iOS (iPhone,iPad..)
//  -----------------------------------------------------------
@mixin selection-g($bgc,$tc){
  ::-moz-selection { 
    background: $bgc;
    color     : $tc;
  }
  ::selection { 
    background: $bgc;
    color     : $tc;
  }
}

//  -----------------------------------------------------------
//  Seleccion de texto en particular (a un elemento)
//  -----------------------------------------------------------
@mixin selection-p(){
  &::-moz-selection { 
    background: $bgc;
    color     : $tc; 
  }
  &::selection { 
    background: $bgc;
    color     : $tc;
  }
}

//  -----------------------------------------------------------
//  skew
//  -----------------------------------------------------------
    //  p,e: 
    //  See on http://www.w3schools.com/cssref/playit.asp?filename=playcss_transform_skew
@mixin skew($x: 0, $y: 0) {
  -moz-transform    : skew($x, $y);
  -ms-transform     : skew($x, $y);
  -o-transform      : skew($x, $y);
  -webkit-transform : skew($x, $y);
  transform         : skew($x, $y);
}

//  -----------------------------------------------------------
//  Sombra fancy google plus
//  -----------------------------------------------------------
  //pe: @include sombra-fancy();
  //resultado
  //-webkit-box-shadow: 0 2px 40px 0 rgba(0,0,0,.4);
  //-moz-box-shadow: 0 2px 40px 0 rgba(0,0,0,.4);
  //box-shadow: 0 2px 40px 0 rgba(0,0,0,.4);
@mixin sombra-fancy(){
  -webkit-box-shadow: 0 2px 40px 0 rgba(0,0,0,.4);
  -moz-box-shadow   : 0 2px 40px 0 rgba(0,0,0,.4);
  box-shadow        : 0 2px 40px 0 rgba(0,0,0,.4);
}

//  -----------------------------------------------------------
//  Mixin para sombra de texto
//  -----------------------------------------------------------
  //  p.e:
  //  @include text-shadow(1px,1px, 5px, pink);
  //  resultado:
  //  text-shadow: 1px 1px 5px pink;
@mixin text-shadow($x,$y,$blur,$color){
  //  Soportado desde IE10+
  text-shadow: $x $y $blur $color;
}

//  -----------------------------------------------------------
//  Mixin para puntos suspensivos (excendente texto)
//  -----------------------------------------------------------
  // p,e:
  //  Lorem ipsum dol...
  // resultado:
  //  .texto{
  //   ..........
  //   ............
  //   overflow: hidden;
  //   text-overflow: ellipsis;
  //   white-space: nowrap;
  // }
@mixin text-truncate {
  text-overflow : ellipsis;
  white-space   : nowrap;
  overflow      : hidden;
  display       : inline-block;
}

//  -----------------------------------------------------------
//  Mixin 
//  -----------------------------------------------------------
  //  p,e:
  //  @include transition(PROPERTY DURATION DELAY(*OPTIONAL) TIMING-FINCTION);
@mixin transition($transition) {
  -moz-transition     : $transition;
  -ms-transition      : $transition;
  -o-transition       : $transition;
  -webkit-transition  : $transition;
  transition          : $transition;
}

//  -----------------------------------------------------------
//  translate
//  -----------------------------------------------------------
@mixin translate($x: 0, $y: 0) {
  -webkit-transform : translate($x, $y);
  -moz-transform    : translate($x, $y);
  -ms-transform     : translate($x, $y);
  -o-transform      : translate($x, $y);
  transform         : translate($x, $y);
}
//  -----------------------------------------------------------
//  translate3d
//  -----------------------------------------------------------
@mixin translate3d($x: 0, $y: 0, $z: 0) {
  -webkit-transform : translate3d($x, $y, $z);
  -moz-transform    : translate3d($x, $y, $z);
  -ms-transform     : translate3d($x, $y, $z);
  -o-transform      : translate3d($x, $y, $z);
  transform         : translate3d($x, $y, $z);
}
